
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
PROJECT NAME: AML
FILE NAME   : AML_SCR_BlackListing
CREATED BY	: VIJAY CORDA
CREATED ON	: 12-MAR-2020
MODIFY ON   :18-MAR-2020
PURPOSE		: 
 -->
<html lang="en"  th:fragment="casemain">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<script src="js/bootstrap411.js"></script>


</head>




<title>AML</title>
<style>
nav>.nav.nav-tabs {
	border: none;
	color: #fff;
	background: #1b6491;
	border-radius: 0;
}

nav>div a.nav-item.nav-link, nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 18px 25px;
	color: #fff;
	background: #1b6491;
	border-radius: 0;
}

nav>div a.nav-item.nav-link.active:after {
	content: "";
	position: relative;
	bottom: -60px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #1b6491;
}

.tab-content {
	background: #fdfdfd;
	line-height: 25px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: 5px solid #594a43;
	border-bottom: 5px solid #594a43;
	padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
	border: none;
	background: #002942;
	color: #fff;
	border-radius: 0;
	transition: background 0.20s linear;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #ffffff;
	opacity: 1;
}
</style>

<style>
.underline {
	text-decoration: underline;
	color: #08a6f1;
	cursor: pointer;
}
</style>
<script type="text/javascript">
	function back() {
		window.history.back();
	}
	function home() {
		location.href = 'Dashboard'
	}
	function Individual() {
		location.href = 'AML_SCR_BlackListing?formmode=formmode_Ind';
	}

	function Corporate() {
		location.href = 'AML_SCR_CorpBlackListingReport?formmode=formmode_Corp';
	}
	

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);

		var fromdate = $("#start_date").val();
		var todate = $("#end_date").val();
		 var Callurl = 'AML_SCR_BlackListing?formmode=formmode_Ind&fromdate='
				+ fromdate + '&todate=' + todate;

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function getCorp_Userlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var fromdate = $("#start_date").val();
		var todate = $("#end_date").val();
		 var Callurl = 'AML_SCR_CorpBlackListingReport?formmode_Corp=list&fromdate='
				+ fromdate + '&todate=' + todate;
		/* var Callurl = 'AML_SCR_CorpBlackListingReport?formmode=formmode_Corp'; */

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}
</script>
<script th:inline="javascript"> 
$(function() {

	$("#start_date").datepicker({
		maxDate : 0,
		dateFormat : "dd-M-yy",
		onSelect : function(selected) {
			var dt = $(this).datepicker('getDate');
			dt.setDate(dt.getDate());
			$("#end_date").datepicker("option", "minDate", dt);

		}
	});
	$("#end_date").datepicker({
		//maxDate : 0,
		dateFormat : "dd-M-yy",
		onSelect : function(selected) {
			var dt = new Date(selected);
			dt.setDate(dt.getDate() - 1);

		}
	});
	

});
</script>


<script th:inline="javascript"> 
$(function() {

	$("#start_date1").datepicker({
		maxDate : 0,
		dateFormat : "dd-M-yy",
		onSelect : function(selected) {
			var dt = $(this).datepicker('getDate');
			dt.setDate(dt.getDate());
			$("#end_date1").datepicker("option", "minDate", dt);

		}
	});
	$("#end_date1").datepicker({
		//maxDate : 0,
		dateFormat : "dd-M-yy",
		onSelect : function(selected) {
			var dt = new Date(selected);
			dt.setDate(dt.getDate() - 1);

		}
	});
	

});

</script>
<body>
	<div th:replace="AStartheader :: header"></div>
	<i class="fa fa-question-circle" style="float: right; margin-top: 10%;"
		aria-hidden="true" onclick="docEmb('Report')" id="ques"></i>
	<div class="content-page">
		<div class="content">

			<div class="container-fluid">

				<div class="card">
					<div class="card-header">
						<div class="float-left">
							<h4>Black Listing</h4>
						</div>

					</div>
					
					
					<div class="card-body">
						<div class="form-group">

							<div class="row formline">
								<button type="button" class="btn btn-primary"
									style="border: 2px solid black; width: 50%;" id="btnHome"
									onclick="Individual();"
									th:disabled="${formmode}=='formmode_Ind'">Individual Black Listing</button>

								<button type="button" class="btn btn-primary "
									style="border: 2px solid black; width: 50%;" id="btnBack"
									onclick="Corporate();"
									th:disabled="${formmode}=='formmode_Corp'">Corporate Black Listing</button>
							</div>

							<label></label>

							<!-- ***********************Individual Tab*************************************** -->
							<div th:if="${formmode}=='formmode_Ind'">
								<div class="row">
									<div class="col-sm-12">
										<div class="card">
											<div class="card-header" style="background-color: #386276;">
												<div class="float-left">
													<h6 style="margin-top: 4px;">Individual Black List</h6>
												</div>

											</div>
											<label></label>

											<!-- ******************************filter criteria starts********************************** -->
							<div class="container content">
								<div class="row">
									<div class="col-sm-12 ">
										<form action="#" th:object="${TransMonitoring}" method="POST"
											autocomplete="off" id="TransMonitoring">
											<div class="card">

												<div class="card-body" style="height: 70px;">
													<div class="row formline">

														<div class="col-sm-2">
															<label for="srl_no">Start Date </label>
														</div>
														<div class="col-sm-3">
															<input type="text" id="start_date" dateformat="dd-MMM-yyyy"
																th:value="${fromdate}"
																class="form-control form-control-sm"  />

														</div>
														<div class="col-sm-1"></div>

														<label class="col-sm-2">End Date</label>
														<div class="col-sm-3">
															<input type="text" dateformat="dd-MMM-yyyy" id="end_date"
																name="end_date" th:value="${todate}"
																class="form-control form-control-sm" autocomplete="off" />
														</div>
														<i class="fa fa-arrow-circle-right"
															style="font-size: 48px; color: #080876; float: right;"
															onclick="getdate();"></i>
														<div class="col-sm-1"></div>
													</div>

													<label></label>


												</div>
												<label></label>

											</div>
										</form>
									</div>
								</div>
							</div>


							<!-- 	************************filter criteria ends************************************	 -->
											<table class="table  table-bordered  table-hover table-sm"
												style="margin-bottom: 0px" id="usertable">
												<thead class="thead-light">
													<tr>
														  <th style="width: 8%;">Set Id</th>  
														<th style="width: 8%;">Customer ID</th>
														<th style="width: 14%;">Last Name</th>
														<th style="width: 14%;">First Name</th>
														<th style="width: 8%;">NID</th>
														<th style="width: 7%;">Risk Category</th>
														<th>Sector</th>
														<th style="width: 6%;">Status</th>
														<th style="width: 9%;">Reasons</th>
														<th style="width: 7%;">Date freezed</th>
														<th style="width: 8%;">Date de-freezed</th>
														<th style="width: 10%;">Active Product Type</th>

													</tr>
												</thead>
												<tbody>
												<tr th:if="${individualBlackList.totalPages} == '0'">
										<td colspan="14" style="text-align: left; color: red">No
											record available for this peroid</td>
									</tr>
													<tr th:each="userProfile : ${individualBlackList}"
														th:attr="data-cust_id=${userProfile.BLACK_LIST_DATA_SETID}"
														th:id="${userProfile.BLACK_LIST_DATA_SETID}"
														class="userlist">

														<td th:text="${userProfile.BLACK_LIST_DATA_SETID}"></td> 
														<td th:text="${userProfile.CIF}"></td>
														<td th:text="${userProfile.CUST_LAST_NAME}"></td>
														<td th:text="${userProfile.CUST_FIRST_NAME}"></td>
														<td th:text="${userProfile.NAT_ID_CARD_NUM}"></td>

														<td th:text="${userProfile.RISK_CATEGORY}"></td>
														<td th:text="${userProfile.SECTOR}"></td>
														<td th:text="${userProfile.STATUS}"></td>

														<td th:text="${userProfile.BLACK_LIST_REASON_NOTES}"></td>


														<td
															th:text="${#dates.format(userProfile.DATE_FREEZED, 'dd-MM-yyyy')}"></td>
														<td
															th:text="${#dates.format(userProfile.DATE_DEFREEZED, 'dd-MM-yyyy')}"></td>

														<td th:text="${userProfile.ACTIVE_PRODUCT_TYPE}"></td>

													</tr>
												</tbody>
											</table>

											 <div class="float-right"
												th:if="${individualBlackList.totalPages} gt 1">
												<a href="#"><i class="fas fa-caret-left fa-2x"
													th:onclick="|getUserlist('prevpage',${individualBlackList.number},${individualBlackList.totalPages});|"></i></a>
												<input type="text" id="pageno" style="width: 30px"
													th:value="${individualBlackList.number+1}"
													th:onchange="|getUserlist('givenpage',${individualBlackList.number},${individualBlackList.totalPages});|"></input>
												of <font th:text="${individualBlackList.totalPages}"></font>
												<a href="#"><i class="fas fa-caret-right fa-2x"
													th:onclick="|getUserlist('nextpage',${individualBlackList.number},${individualBlackList.totalPages});|"></i></a>
											</div>  


										</div>
									</div>
								</div>
							</div>

							<!-- ***********************Corporate Black list tab*************************************** -->
							
							<div th:if="${formmode}=='formmode_Corp'">
							
								<div class="row">
									<div class="col-sm-12">
										<div class="card">
											<div class="card-header" style="background-color: #386276;">
											
												<div class="float-left">
												
													<h6 style="margin-top: 4px;">Coprorate Black List</h6>
												</div>

											</div>
											<label></label>
<!-- ******************************filter criteria starts********************************** -->
							<div class="container content">
								<div class="row">
									<div class="col-sm-12 ">
										<form action="#" th:object="${TransMonitoring}" method="POST"
											autocomplete="off" id="TransMonitoring">
											<div class="card">

												<div class="card-body" style="height: 70px;">
													<div class="row formline">

														<div class="col-sm-2">
															<label for="srl_no">Start Date </label>
														</div>
														<div class="col-sm-3">
															<input type="text" id="start_date1" dateformat="dd-MMM-yyyy"
																th:value="${fromdate1}"
																class="form-control form-control-sm"  />

														</div>
														<div class="col-sm-1"></div>

														<label class="col-sm-2">End Date</label>
														<div class="col-sm-3">
															<input type="text" dateformat="dd-MMM-yyyy" id="end_date1"
																name="end_date" th:value="${todate1}"
																class="form-control form-control-sm" autocomplete="off" />
														</div>
														<i class="fa fa-arrow-circle-right"
															style="font-size: 48px; color: #080876; float: right;"
															onclick="getdateCorp();"></i>
														<div class="col-sm-1"></div>
													</div>

													<label></label>


												</div>
												<label></label>

											</div>
										</form>
									</div>
								</div>
							</div>


							<!-- 	************************filter criteria ends************************************	 -->
											<!-- <div class="card-body"> -->
											<table class="table  table-bordered  table-hover table-sm"
												style="margin-bottom: 0px" id="usertable">
												<thead class="thead-light">
													<tr>
														<th style="width: 8%;">Set Id</th>
														<th style="width: 8%;">Customer ID</th>
															<th style="width: 14%;">Last Name</th>
														<th style="width: 14%;">First Name</th>
														<th style="width: 8%;">NID</th>
														<th style="width: 7%;">Risk Category</th>
														<th>Sector</th>
														<th style="width: 6%;">Status</th>
														<th style="width: 9%;">Reasons</th>
														<th style="width: 7%;">Date freezed</th>
														<th style="width: 8%;">Date de-freezed</th>
														<th style="width: 10%;">Active Product Type</th>



													</tr>
												</thead>
												<tbody>
													<tr th:if="${corporateBlackList.totalPages} == '0'">
										<td colspan="14" style="text-align: left; color: red">No
											record available for this peroid</td>
									</tr>

													<tr th:each="userProfile : ${corporateBlackList}"
														th:attr="data-cust_id=${userProfile.BLACK_LIST_DATA_SETID}"
														th:id="${userProfile.BLACK_LIST_DATA_SETID}"
														class="userlist">

														<td th:text="${userProfile.BLACK_LIST_DATA_SETID}"></td> 
														<td th:text="${userProfile.CIF}"></td>
														<td th:text="${userProfile.CUST_LAST_NAME}"></td>
														<td th:text="${userProfile.CUST_FIRST_NAME}"></td>
														<td th:text="${userProfile.NAT_ID_CARD_NUM}"></td>

														<td th:text="${userProfile.RISK_CATEGORY}"></td>
														<td th:text="${userProfile.SECTOR}"></td>
														<td th:text="${userProfile.STATUS}"></td>

														<td th:text="${userProfile.BLACK_LIST_REASON_NOTES}"></td>


														<td
															th:text="${#dates.format(userProfile.DATE_FREEZED, 'dd-MM-yyyy')}"></td>
														<td
															th:text="${#dates.format(userProfile.DATE_DEFREEZED, 'dd-MM-yyyy')}"></td>

														<td th:text="${userProfile.ACTIVE_PRODUCT_TYPE}"></td>
													</tr>
												</tbody>
											</table>


										 <div class="float-right"
												th:if="${corporateBlackList.totalPages} gt 1">
												<a href="#"><i class="fas fa-caret-left fa-2x"
													th:onclick="|getCorp_Userlist('prevpage',${corporateBlackList.number},${corporateBlackList.totalPages});|"></i></a>
												<input type="text" id="pageno" style="width: 30px"
													th:value="${corporateBlackList.number+1}"
													th:onchange="|getCorp_Userlist('givenpage',${corporateBlackList.number},${corporateBlackList.totalPages});|"></input>
												of <font th:text="${corporateBlackList.totalPages}"></font>
												<a href="#"><i class="fas fa-caret-right fa-2x"
													th:onclick="|getCorp_Userlist('nextpage',${corporateBlackList.number},${corporateBlackList.totalPages});|"></i></a>
											</div> 



											<!-- </div> -->
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="card-footer text-center"
				style="background-color: #386276";>
				<button type="button" class="btn btn-xs btn-primary" id="btnHome"
					onclick="home();">Home</button>
				<button type="button" class="btn btn-xs btn-primary" id="btnBack"
					onclick="back();">Back</button>
			</div>
		</div>
	</div>



	<script>
		
				
				function getdate() {
					var fromdate = $("#start_date").val();
					var todate = $("#end_date").val();

					location.href = 'AML_SCR_BlackListing?formmode=formmode_Ind&fromdate='
							+ fromdate + '&todate=' + todate;
				}
		
		function getdateCorp() {
			var fromdate1 = $("#start_date1").val();
			var todate1 = $("#end_date1").val();

			location.href = 'AML_SCR_CorpBlackListingReport?formmode=formmode_Corp&fromdate='
					+ fromdate1 + '&todate=' + todate1;
		}
		</script>

</body>
</html>