<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--
PROJECT NAME: AML
FILE NAME   : AML_SCR_Alert_Operations_Details
CREATED BY	: VIJAY CORDA
CREATED ON	: 02-SEP-2020
MODIFY ON   :
PURPOSE		: 
 -->
 <html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<!-- <link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}"> -->


<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<!-- <script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script> -->
<!-- <script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script> -->


<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>

<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="js/bootstrap411.js"></script>
<script>

</script>
	

</head>
<title>AML</title>
<script>
function home() {
	location.href = 'Dashboard'
}

function back() {
	window.close();

	window.opener.childwindow();

}

</script>

<body>
	<div th:replace="AStartheader :: header"></div>
	<div class="content-page">
		<div class="content">
			<div class="container-fluid">
				<div  class="content">
					<div class="row">
						<div class="col-sm-12">


							<div class="card-header" style="background-color: #386276; height: 57px">
								<div class="float-left" >
									<h6 style="margin-top: 4px;">AML screening operations</h6>
								</div>
							</div>

							<div class="row formline">
								<label style="height: 2px;"></label>
							</div>
							
							<div class="row formline">
								<label style="height: 4px;"></label>
							</div>

							<table class="table table-bordered  table-hover table-sm"
								style="width: 100%" id="usertable">
								<thead class="thead-light">

									<tr>
																		<th>Customer ID</th>
																		<th>Account No</th>
																		<th>Account Name</th>
																		<th>Account Open Date</th>
																		<th>Loan Amount (Rs)</th>
																		<th>Status</th>
											
									</tr>
								</thead>
								<tbody id="CustomerInq" >
									<tr th:if="${loanCount} == '0'">
										<td colspan="14" style="text-align: left; color: red">No
											record available for this peroid</td>
									</tr>
								
									<tr th:each="userProfile : ${scrList}"
														th:attr="data-cust_id=${userProfile.CUST_ID}"
														th:id="${userProfile.CUST_ID}"
														class="userlist">

																		<td th:text="${userProfile.CUST_ID}"></td>
																		<td th:text="${userProfile.FORACID}"></td>
																		<td th:text="${userProfile.ACCT_NAME}"></td>

																		<td th:text="${#dates.format(userProfile.DATE_DIS, 'dd-MM-yyyy')}"></td>

																	    <td th:text="${#numbers.formatDecimal(userProfile.TRAN_AMT 	,1,'COMMA',2,'POINT')}"  align="right" >CHENNAI</td>
																		<td th:text="${userProfile.REMARKS}==N ? 'Active' : 'Closed'" ></td>

													</tr>
								</tbody>
							</table>


							<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
							 <!-- <div class="float-right" id="paginationCust"
								th:if="${scrList.totalPages} gt 1">
								<a href="#"><i class="fas fa-caret-left fa-2x"
									th:onclick="|getUserlist('prevpage',${scrList.number},${scrList.totalPages});|"></i></a>
								<input type="text" id="pageno" style="width: 30px"
									th:value="${scrList.number+1}"
									th:onchange="|getUserlist('givenpage',${scrList.number},${scrList.totalPages});|"></input>
								of <font th:text="${scrList.totalPages}"></font> <a
									href="#"><i class="fas fa-caret-right fa-2x"
									th:onclick="|getUserlist('nextpage',${scrList.number},${scrList.totalPages});|"></i></a>
							</div> -->


						</div>
						<div class="text-center" style="background-color: #386276;padding:5px;width: 100%;">
									
									<div class="btn-group nav-buttons "style="align:center;">
										<button type="button" class="btn btn-xs btn-primary"
											id="btnHome" onclick="home();"style="margin-right: 10px;">Home</button>
										<button type="button" class="btn btn-xs btn-primary"
											id="btnBack" onclick="back();">Back</button>
									</div>
								</div>
					</div>
				</div>



				<!------------------------Pop window - Domain  list Ends--------------------------------->
				<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
				<div class="modal fade" id="alert">
					<div
						class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content"style="width:50% !important" >
							<div class="modal-body" style="text-align: center">
								<p id="alertmsg"></p>
								<button type="button" class="btn btn-primary"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				
				
				<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
			</div>
		</div>
	</div>
</body>
</html>