<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
PROJECT NAME: BAML
FILE NAME   : AMLCaseManagement
CREATED BY	: RAMPRASATH
CREATED ON	: 27-JAN-2020
MODIFY ON   :
PURPOSE		: 
 -->
<html lang="en" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<script src="js/bootstrap411.js"></script>


</head>




<title>AML</title>
<style>
nav>.nav.nav-tabs {
	border: none;
	color: #fff;
	background: #1b6491;
	border-radius: 0;
}

nav>div a.nav-item.nav-link, nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 18px 25px;
	color: #fff;
	background: #1b6491;
	border-radius: 0;
}

nav>div a.nav-item.nav-link.active:after {
	content: "";
	position: relative;
	bottom: -60px;
	left: -10%;
	border: 15px solid transparent;
	border-top-color: #1b6491;
}

.tab-content {
	background: #fdfdfd;
	line-height: 25px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: 5px solid #594a43;
	border-bottom: 5px solid #594a43;
	padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
	border: none;
	background: #002942;
	color: #fff;
	border-radius: 0;
	transition: background 0.20s linear;
}



</style>
<script type="text/javascript">
	function back() {
		window.history.back();
	}
	function home() {
		location.href = 'Dashboard'
	}

</script>

<script>
	function Home(a) {

		location.href = 'AMLCaseManagement';
	}

	function Customers(a) {

		location.href = 'AMLCMCustomers';
	}

	function Documents(a) {

		location.href = 'AMLCMDocuments';
	}
	function Address(a) {

		location.href = 'AMLCMAddress';
	}
	function KYC(a) {

		location.href = 'AMLCMKyc';
	}
	function Rating(a) {

		location.href = 'AMLCMRating';
	}
	function History(a) {

		location.href = 'AMLCMHistory';
	}
	function Source(a) {

		location.href = 'AMLCMSourceIncome';
	}
	function Employment(a) {

		location.href = 'AMLCMEmployment';
	}
	function Transactions(a) {

		location.href = 'AMLCMTransactions';
	}
</script>


<script>
	function Home(a) {

		location.href = 'AMLCaseManagement';
	}

	function Accounts(a) {

		location.href = 'AMLCMAccounts';
	}

	function AccHistory(a) {

		location.href = 'AMLCMAccHistory';
	}
	function Ledger(a) {

		location.href = 'AMLCMLedger';
	}
	function Turnover(a) {

		location.href = 'AMLCMTurnover';
	}
	function Status(a) {

		location.href = 'AMLCMStatus';
	}
	
	function AccTransactions(a) {

		location.href = 'AMLCMAccountTransaction';
	}
</script>
<body>
	<div th:insert="AStartheader :: header"></div>
	<i class="fa fa-question-circle" style="float: right; margin-top: 10%;"
		aria-hidden="true" onclick="docEmb('Report')" id="ques"></i>
	<div class="content-page">
		<div class="content">
                <div class="col-xs-12 ">
                <div class="card-header " id="modheadtitle">
									<b>AML Case Management</b>
								</div>
								<label></label>
									<nav>
						<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab"
								data-toggle="tab" href="#" onclick="Home()" role="tab" style="background-color: #2e3e4e"
								aria-controls="nav-home" aria-selected="true">Home</a> <a
								class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
								href="#"  onclick="Customers()" role="tab" aria-controls="nav-profile"
								aria-selected="false">Customers</a> <a class="nav-item nav-link"
								id="nav-contact-tab" data-toggle="tab" href="#"  onclick="Accounts()"
								role="tab" aria-controls="nav-contact" aria-selected="false">Accounts</a>
							<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
								href="#" onclick="Transactions()" role="tab" aria-controls="nav-about"
								aria-selected="false">Transactions</a>

						</div>
					</nav>
                 <div>
								<img th:src=@{/images/CMS.png} alt=""
									style="margin-left: 0%; margin-top: 3%; width: 100%;">
							</div>
							<label></label>
							<div class="card-footer text-center" style="background-color:#386276";>
								<button type="button" class="btn btn-xs btn-primary"
									id="btnHome" onclick="home();">Home</button>
								<button type="button" class="btn btn-xs btn-primary"
									id="btnBack" onclick="back();">Back</button>
							</div>
		</div>
	</div>
	</div>
										<!---------------------User List Ends--------------------------------------------------------->

										
								

</body>
</html>