<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
PROJECT NAME: AML
FILE NAME   : AMLCustomerAccount
CREATED BY	: RAMPRASATH
CREATED ON	: 27-JAN-2020
MODIFY ON   : 24-MAR-2020
PURPOSE		: CLIENT LOCATION
 -->
 <html lang="en" >
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">


<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


<link rel="stylesheet" type="text/css"
	href="webjars/chartjs/2.8.0/Chart.min.css"
	th:href="@{webjars/chartjs/2.8.0/Chart.min.css}">
<script src="webjars/chartjs/2.8.0/Chart.min.js"
	th:src="@{webjars/chartjs/2.8.0/Chart.min.js}"></script>

<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
<script src="js/bootstrap411.js"></script>
<style type="text/css">
.underline {
    text-decoration: underline;
    color: #08a6f1;
    cursor: pointer;
}
</style>
<script type="text/javascript">
	function back() {
		window.history.back();
	}
	function home() {
		location.href = 'Dashboard'
	}

</script>
<script th:inline="javascript">
	$(function() {

		$("#usertable").DataTable({
			"paging" : false,
		});
	});

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);

		
		var Callurl = 'AMLCustomerRiskProfiling?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		
		location.href = Callurl;
	}

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}
	
	
	function fnClick(a) {
		var custId = a.getAttribute("data-custId")
		location.href = 'AMLCustInquiry1?custId=' + custId;
	}

	/*]]>*/
</script>
</head>
<title>AML</title>

<body>
	<div th:replace="AStartheader :: header"></div>
	<i class="fa fa-question-circle" style="float: right; margin-top: 10%;"
		aria-hidden="true" onclick="docEmb('Report')" id="ques"></i>
	<div class="content-page">
		<div class="content">

			<!-- Start Content-->
			<div class="container-fluid">

				<div th:if="${formmode}=='list'" class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-header" id="modheadtitle">
								<b th:text="${menuname}"></b>
							</div>
							<table class="table table-bordered  table-hover table-sm"
								style="width: 100%" id="usertable">
								<thead class="thead-light" >

									<tr>
										<!-- <th></th> -->
										<th>Customer Id</th>
										<th>Name</th>
										<th>No of Accounts</th>
										<th>Date of Profiling</th>
										<th>Scoring</th>
										<th>Category</th>
										<th>Next Due Date</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="FinCMG : ${CustomerProfiling}" >
									<!-- <tr th:each="FinCMG : ${CustomerProfiling}"
												th:attr="data-userid=${CustomerProfiling.cusid}"
												onclick="fnClick(this);" th:id="${userProfile.custid}"
												class="userlist"> -->
										<td class="underline" th:attr="data-custId=${FinCMG.cust_id}" onclick="fnClick(this);"th:text="${FinCMG.cust_id}" ></td>
										<td th:text="${FinCMG.cust_name}"></td>
										<td th:text="${FinCMG.num_of_accounts}"></td>
										<td
											th:text="${#dates.format(FinCMG.kyc_date, 'dd-MM-yyyy')}"></td>
										<td th:text="${FinCMG.risk_profile_score}"></td>
										<td th:text="${FinCMG.localetext}"></td>
										<td th:text="${FinCMG.localetext} == null ? 'Low' : ''}">PASSPORT</td>
										<td
											th:text="${#dates.format(FinCMG.risk_profile_expiry_date, 'dd-MM-yyyy')}"></td>

									</tr>

								</tbody>
							</table>
							<!---------------------User List Ends--------------------------------------------------------->

							<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
							<div class="float-right"
								th:if="${CustomerProfiling.totalPages} gt 1">
								<a href="#"><i class="fas fa-caret-left fa-2x"
									th:onclick="|getUserlist('prevpage',${CustomerProfiling.number},${CustomerProfiling.totalPages});|"></i></a>
								<input type="text" id="pageno" style="width: 30px"
									th:value="${CustomerProfiling.number+1}"
									th:onchange="|getUserlist('givenpage',${CustomerProfiling.number},${CustomerProfiling.totalPages});|"></input>
								of <font th:text="${CustomerProfiling.totalPages}"></font> <a
									href="#"><i class="fas fa-caret-right fa-2x"
									th:onclick="|getUserlist('nextpage',${CustomerProfiling.number},${CustomerProfiling.totalPages});|"></i></a>
							</div>
						</div>
						<div class="text-center" style="background-color: #386276;padding:5px;width: 100%;">
									
									<div class="btn-group nav-buttons "style="align:center;">
										<button type="button" class="btn btn-xs btn-primary"
											id="btnHome" onclick="home();"style="margin-right: 10px;">Home</button>
										<button type="button" class="btn btn-xs btn-primary"
											id="btnBack" onclick="back();">Back</button>
									</div>
								</div>
					</div>
				</div>
				
				<!------------------------Pop window - Domain  list Ends--------------------------------->
				<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
				<div class="modal fade" id="alert">
					<div
						class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-body" style="text-align: center">
								<p id="alertmsg"></p>
								<button type="button" class="btn btn-primary"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
</body>
</html>